<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jyp.journeypiki">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.jyp.journeypiki.JypApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JYPAndroid">
        <activity
            android:name="com.jyp.journeypiki.presentation.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.JYPAndroid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.jyp.journeypiki.presentation.onboarding.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name="com.jyp.journeypiki.presentation.sign_in.SignInActivity"
            android:exported="true" >
            <intent-filter>
                <data android:host="oauth"
                    android:scheme="kakao${KAKAO_NATIVE_APP_KEY}" />
            </intent-filter>
        </activity>
    </application>

</manifest>
