<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jyp.feature_sign_in">

    <application>
        <activity
            android:name=".presentation.onboarding.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.sign_in.SignInActivity"
            android:exported="false" />
    </application>

</manifest>