<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jyp.feature_planner">

    <application>
        <activity
            android:name=".presentation.create_planner.CreatePlannerActivity"
            android:taskAffinity=".presentation.create_planner.CreatePlannerActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".presentation.edit_tag.EditTagActivity"
            android:windowSoftInputMode="adjustResize" />
        
        <activity android:name=".presentation.planner.PlannerActivity" />
        <activity android:name=".presentation.add_planner_route.AddPlannerRouteActivity" />
        <activity android:name=".presentation.planner.InviteUserActivity" />
    </application>
</manifest>
