<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jyp.feature_planner">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".presentation.create_planner.CreatePlannerActivity"
            android:taskAffinity=".presentation.create_planner.CreatePlannerActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />

        <activity android:name=".presentation.planner.PlannerActivity" />
    </application>
</manifest>
